<nav class="navbar navbar-expand-lg navbar-light header row">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <a routerLink = "Home/teacher">teacher</a><br>
            <a routerLink = "Home/student">student</a><br>
            <a routerLink = "Home/course">cource</a><br>
            <a routerLink = "Home/student-list">student-list</a><br>
        </li>     
      </ul>
    </div>
</nav> 